In [48]:
import pandas as pd
df=pd.read_csv('/home/vishnu/Documents/pythonsem3/customer.csv')
df

,dates,price,product_id,quantity,serial_no,user_id,user_type,user_class,purchased_week
0,2022-01-01,79.50,67,5,SN9336,U81,Retail,Class C,52
1,2022-01-13,40.03,95,10,SN8614,U28,Retail,Class A,2
2,2022-01-26,30.59,58,2,SN8909,U48,Wholesale,Class A,4
3,2022-02-07,31.34,17,1,SN8018,U99,Retail,Class B,6
4,2022-02-20,58.80,97,10,SN4656,U94,Wholesale,Class A,7
5,2022-03-04,60.52,92,5,SN8219,U14,Wholesale,Class A,9
6,2022-03-17,71.70,72,9,SN7474,U38,Wholesale,Class A,11
7,2022-03-29,29.13,100,7,SN9963,U96,Wholesale,Class C,13
8,2022-04-11,10.08,89,8,SN9286,U17,Wholesale,Class B,15
9,2022-04-23,98.92,33,10,SN9750,U34,Wholesale,Class A,16
10,2022-05-06,53.97,72,9,SN1987,U16,Retail,Class B,18
11,2022-05-19,44.30,42,8,SN6544,U54,Retail,Class A,20
12,2022-05-31,94.15,54,4,SN8982,U72,Retail,Class C,22
13,2022-06-13,69.23,77,7,SN3076,U87,Retail,Class A,24
14,2022-06-25,22.95,46,7,SN7086,U56,Retail,Class C,25
15,2022-07-08,40.61,54,5,SN3654,U66,Wholesale,Class C,27
16,2022-07-20,76.04,99,5,SN2673,U65,Retail,Class C,29
17,2022-08-02,54.32,36,1,SN6143,U75,Wholesale,Class C,31
18,2022-08-14,55.02,98,10,SN6072,U42,Retail,Class B,32
19,2022-08-27,82.03,24,1,SN7036,U32,Retail,Class C,34
20,2022-09-09,70.24,28,7,SN1588,U72,Wholesale,Class A,36
21,2022-09-21,89.40,87,1,SN3647,U83,Wholesale,Class A,38
22,2022-10-04,46.61,54,9,SN2538,U69,Wholesale,Class B,40
23,2022-10-16,51.66,90,6,SN9610,U93,Wholesale,Class A,41
24,2022-10-29,57.82,94,2,SN6374,U51,Retail,Class A,43
25,2022-11-10,43.84,49,5,SN6559,U16,Wholesale,Class A,45
26,2022-11-23,55.35,53,2,SN2593,U30,Retail,Class A,47
27,2022-12-05,69.67,89,1,SN6414,U69,Wholesale,Class C,49
28,2022-12-18,52.59,74,2,SN2175,U22,Retail,Class C,50
29,2022-12-31,53.02,47,1,SN8260,U85,Wholesale,Class C,52

In [49]:
nominal_features = ['user_type']
df_nominal=pd.get_dummies(df[nominal_features])

In [50]:
gen_ord_map = {'Class A':1,'Class B':2,'Class C':3}

In [51]:
df['user_class_ordinal']=df['user_class'].map(gen_ord_map)

In [52]:
categorical_features = ['user_class','user_type']
df_categorical=pd.get_dummies(df[categorical_features])

In [53]:
df_transformed=pd.concat([df,df_nominal,df_categorical],axis=1)

In [54]:
df_transformed.head()

,dates,price,product_id,quantity,serial_no,user_id,user_type,user_class,purchased_week,user_class_ordinal,user_type_Retail,user_type_Wholesale,user_class_Class A,user_class_Class B,user_class_Class C,user_type_Retail,user_type_Wholesale
0,2022-01-01,79.50,67,5,SN9336,U81,Retail,Class C,52,3,1,0,0,0,1,1,0
1,2022-01-13,40.03,95,10,SN8614,U28,Retail,Class A,2,1,1,0,1,0,0,1,0
2,2022-01-26,30.59,58,2,SN8909,U48,Wholesale,Class A,4,1,0,1,1,0,0,0,1
3,2022-02-07,31.34,17,1,SN8018,U99,Retail,Class B,6,2,1,0,0,1,0,1,0
4,2022-02-20,58.80,97,10,SN4656,U94,Wholesale,Class A,7,1,0,1,1,0,0,0,1