In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

from sklearn.decomposition import PCA

mydata=pd.read_csv('Iris_data.csv')

In [2]:
scaler=StandardScaler()
mydata=pd.DataFrame(scaler.fit_transform(mydata))
mydata

            0         1         2         3         4         5
0   -1.690187 -0.820478  0.975487 -1.301159 -1.299067 -1.210338
1   -1.667444 -1.073126 -0.136524 -1.301159 -1.299067 -1.210338
2   -1.644701 -1.325773  0.308280 -1.358874 -1.299067 -1.210338
3   -1.621958 -1.452097  0.085878 -1.243444 -1.299067 -1.210338
4   -1.599215 -0.946802  1.197889 -1.301159 -1.299067 -1.210338
..        ...       ...       ...       ...       ...       ...
96   1.584803  1.200700  0.530683  1.180586  1.789707  1.284440
97   1.607546  1.200700 -0.136524  0.892011  1.521118  1.284440
98   1.630289  0.695405 -1.248535  0.776581  0.983940  1.284440
99   1.675775  0.569082  0.753085  1.007441  1.521118  1.284440
100  1.698518  0.190111 -0.136524  0.834296  0.849645  1.284440

[101 rows x 6 columns]

In [3]:
pca = PCA(n_components=2)
pca =pca.fit_transform(mydata)
datapca=pd.DataFrame(pca,columns=['P1','P2'])
datapca

           P1        P2
0   -2.981038  0.496034
1   -2.847413 -0.617469
2   -3.051312 -0.321941
3   -2.993633 -0.573404
4   -3.035146  0.642954
..        ...       ...
96   2.982756  1.051723
97   2.873191  0.423659
98   2.612916 -0.828350
99   2.531213  0.968015
100  2.188795 -0.038843

[101 rows x 2 columns]